* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
:root {
  --main-color: #926239;
  --secondary-color: white;
  }
  
.main {
    background-image: url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    background-size: 100% 100%;
    background-position: center;
    /* display: flex; */
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-section {
    padding-top: 35vh;
  }

  .section-wrapper {
      width: 33.1%;
      display: inline-block;
  }
 
 .main-color {
      color: var(--main-color);
 }
 .main-label {
   font-size: 50px;
   line-height: 1.2;
   font-weight: bold;
   margin-bottom: 0%;
   margin-top: 0%;
 }
 .secondary-font {
   font-size: 20px;
 }
 .btn {
    margin-top: 1.5%;
    padding: 1%;
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    border-color: var(--main-color);
    border-width: 0.5px;
    text-align: center;
    background-color: transparent;
 }

 .btn:hover {
     background-color: var(--main-color);
     color: var(--secondary-color);
 }

 .main-text {
     padding: 20px;
     text-align: center;
     background: var(--main-color);
     color: var(--secondary-color);
     font-size: 17px;
 }

 .bg-white {
     background: var(--secondary-color);
     color: var(--main-color);
 }

 .lh-main {
    line-height: 1.6;
 }